@{
    ViewBag.Title = "Home Page";
}
<br />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/Scripts/loadscript.js"></script>

<link href="~/Styles/style.css" rel="stylesheet" type="text/css" />

<button type="button" class="custom-button" style="width:200px; height:30px;" onclick="LoadContent()"> Load Content</button>

<button type="button" class="custom-button" style="width:200px; height:30px; float:right;" onclick="ClearContent()"> Clear Content</button>

<div id="ContentID" class="jumbotron" style="margin-top:10px;">

</div>