@{
    ViewBag.Title = "Home Page";
}
<br />

<link href="~/Styles/style.css" rel="stylesheet" type="text/css" />

<button type="button" class="custom-button" style="width:200px; height:30px;"> Load Content</button>

<button type="button" class="custom-button" style="width:200px; height:30px; float:right;"> Clear Content</button>

<div id="ContentID" class="jumbotron" style="margin-top:10px;">

</div>